body {margin-top: 0em; margin-right: 0em; margin-bottom: 0em; margin-left: 0em; font-family: "arial", sans-serif; background-color: #FFFFFF; color: #000000; }
a:link {color: #00004F; }
a:visited {color: #0000AF; }
a.MENU:link {text-decoration: underline; color: #FFFFFF; } 
a.MENU:visited {text-decoration: underline; color: #FFFFFF; } 
a.MENU:active {text-decoration: underline; color: #FF0000; } 
a.MENU:hover {text-decoration: underline; color: #FFFF00; }
td {font-family: "arial", sans-serif; font-size: 80%; color: #000000; }
td.DARK {background: #0000FF; text-decoration: bold; font-size: 95%; color: #FFFFFF; font-weight: bold; }
td.LITE {background: #8080FF; text-decoration: bold; font-size: 95%; color: #FFFFFF; font-weight: bold; }
td.CELL1 {background: #D0D0FF; }
td.CELL2 {background: #B0B0FF; }
td.SYS {background: #FFFF00; }
td.DARKSYS {background: #C0C000; }
td.SHADE {background: #E0E0E0; }
td.BAR {background: #6666FF; color: #FFFFFF; }